body {
  background: #ffffff url("background.jpg") repeat fixed;
  background-size: cover;
  font-family: Verdana, sans-serif;
  margin: 0;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.bg-orange {
  background-color: #ff9001;
}

.text-orange {
  color: #ff9001;
}

.icon-size {
  width: 200px;
}
.nav-item {
  transition: 0.3s;
}
.nav-item:hover {
  border-bottom: 2px solid #ff9001;
}

.link {
  transition: 0.3s;
}
.link:hover {
  background-color: #ff9001;
  border-radius: 5px;
}

.photo-collection {
  height: 300px;
}
